.cabecalho{
    background-color: rgb(21, 114, 52);
    color: rgb(255, 238, 0);
    text-align:center ;
    margin: 0 auto;
    max-width: 700px;
}
.principal{
    background-color: rgb(38, 163, 80);
    color:rgb(229, 255, 0);
}